# Klarname <UniEmail> <GitHubEmail>
Alexander Jenko <A1jenko@edu.aau.at> <Alexander.jenko@gmail.com>
Khazar Nuriyev <khnuriyev@edu.aau.at> <xazarnuriyev@gmail.com>
Martina Parz <martinapa@edu.aau.at> <martinaparz@gmail.com>
Maverick Haas <mavhaas@edu.aau.at> <191795490+mav42@users.noreply.github.com>
Stefan Sodat <stefanso@edu.aau.at> <sodatstefan@outlook.de>